{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if cours_non_finis %}
    <ul>

        <h1><img src="{% static "polls/polymtl.png" %}" alt="Polytechnique Montr&eacute;al" width="600" height="200" /></h1>


        <p>Fondée en 1873, Polytechnique Montréal est l&#8217;un des plus importants établissements d&#8217;enseignement et de recherche en génie au Canada. Polytechnique occupe le premier rang au Québec pour le nombre de ses étudiants et l&#8217;ampleur de ses activités de recherche. Avec plus de <span style="white-space: nowrap;">44 300</span> diplômés, Polytechnique Montréal a formé près du quart des membres actuels de l&#8217;Ordre des ingénieurs du Québec. L&#8217;institution offre plus de 120 programmes. Polytechnique compte 255 professeurs et plus de <span style="white-space: nowrap;">8 000</span> étudiants. Son budget annuel de fonctionnement s&#8217;élève à plus de 200 millions de dollars, dont un budget de recherche de plus de 70 millions de dollars.</p>

        <p><a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;">http://www.polymtl.ca</a></p>


    {% if cours_non_finis.0 %}
          <h2>&Agrave; venir</h2>
    {% endif %}

    <div class="container">
    {% for cours in cours_non_finis.0 %}
       {% if cours.availability == "Upcoming" %}
          {% if not cours.hidden %}
             <div class="course">
             <a href="https://test-cours.edulib.org/courses/{{ cours.key }}/about">{{ cours.title }}<br>
             <img alt="IMAGE NON DISPONIBLE" src="{{ cours.image.src }}" width="280" height="160"><br>
             <strong>Commence le {{ cours.start_affiche }}</strong>
             </a>
             </div>
          {%endif%}
       {%endif%}
    {% endfor %}
    </div>



    {% if cours_non_finis.1 %}
          <h2>En cours</h2>
    {% endif %}

    <div class="container">
    {% for cours in cours_non_finis.1 %}
       {% if cours.availability == "Current" %}
          {% if not cours.hidden %}
             <div class="course">
             <a href="https://test-cours.edulib.org/courses/{{ cours.key }}/about">{{ cours.title }}<br>
             <img alt="IMAGE NON DISPONIBLE" src="{{ cours.image.src }}" width="280" height="160"><br>
             <strong>A commenc&eacute; le {{ cours.start_affiche }} </strong>
             </a>
             </div>
          {%endif%}
       {%endif%}
    {% endfor %}
    </div>




    {% if cours_non_finis.2 %}
          <h2>Termin&eacute;</h2>
    {% endif %}

    <div class="container">
    {% for cours in cours_non_finis.2 %}
       {% if cours.availability == "Archived" %}
          <div class="course">
          <a href="https://test-cours.edulib.org/courses/{{ cours.key }}/about">{{ cours.title }}<br>
          <img alt="IMAGE NON DISPONIBLE" src="{{ cours.image.src }}" width="280" height="160"><br>
          <strong>Termin&eacute; depuis le {{ cours.end_affiche }} </strong>
          </a>
          </div>
       {%endif%}
    {% endfor %}
    </div>


    </ul>

{% else %}
    <p>Pas de cours non finis.</p>
{% endif %}
