body {
    background-color: white;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: black;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.boxed {
  border: 1px solid green ;
}

.container2 {
  display: grid;
  grid-template-columns: 400px 400px 400px ;
  background-color: F8F8F8;
  grid-gap: 25px;
  justify-content: baseline;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px 400px ;
  background-color: white;
  grid-gap: 25px;
  justify-content: baseline;
}

.container::before {
  content: none;
}
.container::after {
  content: none;
}

.container-menu {
  display: grid;
  background-color: lightgrey;
  grid-gap: 25px;
  justify-content: left;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.course {
    background-color: lightgrey;
    width: 380px;
    border: 05px solid blue;
    padding: 10px;
    margin: 10px;
}

.institution {
    background-color: lightgrey;
    width: 400px;
    border: 05px solid blue;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #fff;
    border-color: #2e6da4;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
