{% load static %}
{% include "catalog/header_en.html" %}
        <section class="home">
          <header class="outer-wrapper">
              <hgroup class="title">
                    <h1>Our expertise, your skills.</h1>
              </hgroup>
            </header>
            
            
            <section class="courses-container container">

                {% if course_upcoming %}
                <!--<section class="courses">-->
                        <h2>Upcoming</h2>
                        <ul class="courses-listing">

                {% for each in course_upcoming %}
                            <li class="courses-listing-item col-md-2">   
                                <article class="course" id="{{ each.key }}" role="region" aria-label="{{ each.title }}">
                                    <a href="{{each.courseURL}}">
                                        <header class="course-image">
                                                <img alt="{{ each.title }}" src="{{ each.image_src }}" />
                                                <div class="learn-more" aria-hidden=true>KNOW MORE</div>
                                        </header>
                                        <ul class="course-info">
                                                <li class="course-organization">{{ each.owner_print}}</li>
                                                <li class="course-code">{{ each.course_print }}</li>
                                                <li class="course-title">{{ each.title }}</li>
                                                <li class="course-date localized_datetime">Starts <time itemprop="startDate" datetime="{{ each.start_print }}">{{ each.start_print }}</time></li>
                                        </ul>
                                    </a>
                                </article>
                            </li>
                            {% endfor %}

                        </ul>
                <!--</section>-->
                {% endif %}
            </section>
            <section class="courses-container container">

                {% if course_current %}
                <!--<section class="courses">-->
                        <h2>Current</h2>
                        <ul class="courses-listing">

                {% for each in course_current %}
                            <li class="courses-listing-item col-md-2">   
                                <article class="course" id="{{ each.key }}" role="region" aria-label="{{ each.title }}">
                                    <a href="{{each.courseURL}}">
                                        <header class="course-image">
                                                <img alt="{{ each.title }}" src="{{ each.image_src }}" />
                                                <div class="learn-more" aria-hidden=true>KNOW MORE</div>
                                        </header>
                                        <ul class="course-info">
                                                <li class="course-organization">{{ each.owner_print}}</li>
                                                <li class="course-code">{{ each.course_print }}</li>
                                                <li class="course-title">{{ each.title }}</li>
                                                <li class="course-date localized_datetime">Starts <time itemprop="startDate" datetime="{{ each.start_print }}">{{ each.start_print }}</time></li>
                                        </ul>
                                    </a>
                                </article>
                            </li>
                            {% endfor %}

                        </ul>
                <!--</section>-->
                {% endif %}
            </section>
        </section>
{% include "catalog/footer_en.html" %}