{% load static %}
  
{# needed for boostrap #}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{# needed for boostrap #}

{# navigation bar from boostrap #}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {# <a class="navbar-brand" href="{% url 'index' %}">EDUlib</a> #}
            <a class="navbar-brand" href="{% url 'index' %}">
            <img src="static/catalog/edulib.png" width="75px"/>
            </a>
        </div>
        <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Institutions
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a href="{{ edulib_catalog }}/umontreal">UMontreal</a></li>
               <li><a href="{{ edulib_catalog }}/hec">HEC</a></li>
               <li><a href="{{ edulib_catalog }}/polymtl">PolyMtl</a></li>
            </ul>
        </div>
        </div>
</nav>
{# navigation bar from boostrap #}

{% if cours_non_finis %}
    <h1>Cours à venir et en cours sur EDUlib</h1>
    {# reloading EDUlib style #}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />
    {# reloading EDUlib style #}
    <div class="container">
        {% for cours in cours_non_finis %}
            <div class="course">
            <a href="{{ edulib_lms }}/courses/{{ cours.key }}/about">{{ cours.title }}<br>
            <img alt="IMAGE NON DISPONIBLE" src="{{ cours.image.src }}" width="280" height="160"><br>
            <strong>Commence le {{ cours.start_affiche }}</strong>
            </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Pas de cours disponibles sur EDUlib</p>
{% endif %}
