{% load static %}
{% include "catalog/header.html" %}
        <section class="home">
          <header class="outer-wrapper">
              <hgroup class="title">
                    <h1>Notre expertise, vos compétences.</h1>
              </hgroup>
            </header>
            
            
            <section class="courses-container container">

                {% if cours_non_finis %}
                <!--<section class="courses">-->
                        <ul class="courses-listing">

                {% for cours in cours_non_finis %}
                            <li class="courses-listing-item col-md-2">   
                                <article class="course" id="{{ cours.key }}" role="region" aria-label="{{ cours.title }}">
                                    <a href="{{ EDULIB_LMS }}/courses/{{ cours.key }}/about">
                                        <header class="course-image">
                                                <img src="{{ cours.image.src }}" />
                                                <div class="learn-more" aria-hidden=true>EN SAVOIR PLUS</div>
                                        </header>
                                        <ul class="course-info">
                                                <li class="course-organization">Institution</li>
                                                <li class="course-code">{{ cours.key }}</li>
                                                <li class="course-title">{{ cours.title }}</li>
                                                <li class="course-date localized_datetime">Commence le <time itemprop="startDate" datetime="{{ cours.start_affiche }}">{{ cours.start_affiche }}</time></li>
                                        </ul>
                                    </a>
                                </article>
                            </li>
                            {% endfor %}

                        </ul>
                <!--</section>-->
    {% else %}
                <p>Pas de cours disponibles sur EDUlib</p>
    {% endif %}
            </section>
        </section>
{% include "catalog/footer.html" %}