{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />

<h1><img src="{% static "catalog/umontreal.png" %}" alt="Université de Montréal" width="600" height="200" /></h1>

    <p>L’Université de Montréal forme avec ses écoles affiliées, HEC Montréal et Polytechnique Montréal, le premier pôle d’enseignement et de recherche du Québec, tant par le nombre d’étudiants que par l’effectif professoral et le volume des activités de recherche. L’UdeM se situe au deuxième rang des universités canadiennes pour le nombre d’étudiants inscrits. Les campus de l’UdeM accueillent près d’un étudiant universitaire québécois sur quatre, soit une population étudiante de près de 60 000 personnes. Parmi les universités québécoises, l’UdeM est aussi le premier choix des étudiants de l’extérieur du pays, dont le nombre atteint presque 7 000. Elle emploie près de 9 000 personnes à temps plein, à temps partiel et à vacation, dont plus de 4 500 professeurs, chercheurs, chargés de cours, professeurs de clinique et chargés de clinique, ce qui la situe parmi les plus grands employeurs de Montréal.</p>

    <p>Le Times Higher Education inclut l'Université de Montréal dans son classement des meilleures universités de la planète. Le réputé classement de l’université chinoise Jiao Tong, quant à lui, situe l’UdeM parmi les 150 meilleurs établissements universitaires du monde. Sur le plan de la recherche, l’UdeM figure au quatrième rang du classement canadien de l’organisme Research Info$ource.</p>

    <p><a href="http://www.umontreal.ca" onclick="window.open(this.href);return false;">http://www.umontreal.ca</a></p>

<ul>

    {% if course_upcoming %}
    <h2>À venir</h2>
    
    <div class="container">
        {% for each in course_upcoming %}
        <div class="course">
            <a href="{{ EDULIB_LMS }}/courses/{{ each.key }}/about">
                {{ each.owner_print}}
                <br>
                {{ each.course_print }}
                <br>
                <strong>{{ each.title }}</strong>
                <br>
                <img alt="IMAGE NON DISPONIBLE" src="{{ each.image.src }}" width="280" height="160">
                <br>
                Commencera le {{ each.start_print }}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if course_current %}
    <h2>En cours</h2>
    
    <div class="container">
        {% for each in course_current %}
        <div class="course">
            <a href="{{ EDULIB_LMS }}/courses/{{ each.key }}/about">
                {{ each.owner_print}}
                <br>
                {{ each.course_print }}
                <br>
                <strong>{{ each.title }}</strong>
                <br>
                <img alt="IMAGE NON DISPONIBLE" src="{{ each.image.src }}" width="280" height="160">
                <br>
                A commencé le {{ each.start_print }}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if course_past %}
    <h2>Terminé</h2>
    
    <div class="container">
        {% for each in course_past %}
        <div class="course">
            <a href="{{ EDULIB_LMS }}/courses/{{ each.key }}/about">
                {{ each.owner_print}}
                <br>
                {{ each.course_print }}
                <br>
                <strong>{{ each.title }}</strong>
                <br>
                <img alt="IMAGE NON DISPONIBLE" src="{{ each.image.src }}" width="280" height="160">
                <br>
                Terminé le {{ each.end_print }}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
</ul>